<div class="add-to-cart-form-delivery font-weight-bold mt-2">
  <span class="price"> <%= prices_with_discounts(@product.primary) %></span>&nbsp; each
  <%= display_prices_with_volume(@product.primary) %>
</div>