<% if order.volume_discount_present? %>
  <div class="d-table-cell total"><%= t('volume_discount') %>:</div>
  <div class="d-table-cell total text-right">
    <%= order.volume_discount.to_html %>
  </div>
<% end %>